#navbar {

    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 20px;
}

#nav_logo {

    width: 50% !important; 
    display: flex !important;
    align-items: center !important;
    padding-left: 6em !important;

}

#nav_links_and_profile {

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    padding-right: 6em;
    font-weight: 300;

}

#nav_links_and_profile a {

    padding-right: 4em;

}

#nav_links_and_profile a:hover {

    color: #ee2d1c;

}

#profile_image {

    padding-right: 0em !important;

}

#nav_links_and_profile img {

    border-radius: 40px !important;
    border: solid 3px white !important;

}

@media only screen and (max-width: 1432px) {
    
    #nav_links_and_profile {

        padding-right: 4em;

    }

    #nav_logo {

        padding-left: 4em !important;

    }

}

@media only screen and (max-width: 1100px) {
    
    #nav_links_and_profile {

        padding-right: 2em;

    }

    #nav_logo {

        padding-left: 2em !important;

    }

}

@media only screen and (max-width: 680px) {
    

    #navbar {

        flex-direction: column;
        justify-content: center;
        padding-top: 2em;

    }

    #nav_links_and_profile {

        justify-content: center;
        width: 100%;
        padding-right: 0;
        padding-top: 1em;

    }

    #nav_logo {

        justify-content: center !important;
        width: 100% !important;
        padding-left: 0 !important;

    }



}

@media only screen and (max-width: 380px) {


    #nav_links_and_profile a {

        padding-right: 2em;

    }

}